:root {
    --container-border: 3px solid var(--tritary-color);
}

.full-container {
    background-color: var(--secondary-color);
    width: 90%;
    min-height: 75px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    border: var(--container-border);
}



.half-container, .third-container {
    background-color: var(--secondary-color);
    display: block;
    border-radius: 20px;
    min-height: 100px;
    border:var(--container-border);
}



.container-divider {
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--tritary-color);
    width: 90%;
    display: block;
    margin: 10px auto;

}

.container-row-half {
    display: grid;
    margin: 10px 5%;
    grid-template-columns: auto auto;
    gap: 10px;
}

.container-row-third {
    display: grid;
    margin: 10px 5%;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

@media(max-width: 600px) {
    .container-row-half {
        grid-template-columns: auto;
    }
    
}



@media(max-width: 900px) {
    .container-row-third {
        grid-template-columns: auto auto;
    }
}

@media(max-width:750px) {
    .container-row-third {
        grid-template-columns: auto;
    }
}
