:root {
    --secondary-color: #428af5;
    --primary-color: #a6ffc6;
    --text-color: white;

}

body {
    margin:0;
    padding:0;
    background-color: var(--primary-color);
}

.primary-bg {
    background-color: var(--primary-color)
}

.secondary-bg {
    background-color: var(--secondary-color)
}

.text {
    color: var(--text-color);
}